<p>
    <a href="{% url 'project:index' %}">4353 Project</a> -
    {% if user.is_authenticated %}
        Hello, {{ user.username }} -
        <a href="{% url 'users:logout' %}">Log out</a> -
        <a href="{% url 'users:profilemgmt' %}">Profile Management</a> -
        <a href="{% url 'users:fuelquoteform' %}">Fuel Quote Form</a> -
        <a href="{% url 'users:fuelquotehistory' %}">Fuel Quote History</a>
    {% else %}
        <a href="{% url 'users:register' %}">Register</a> - 
        <a href="{% url 'users:login' %}">Log in</a> 
        
        {% comment %} <a href="{% url 'users:profilemgmt' %}">Profile Management Test</a> {% endcomment %}
    {% endif %}
</p>

{% block content %}{% endblock content %}